.about-us {
    &__wrapper {
        display: grid;
        grid-template-columns: 0.7fr 1.3fr;
        gap: 25px;
        align-items: start;
        margin-top: 25px;
        margin-bottom: 100px;
    }
    &__left {
        position: relative;
        p {
            font-size: 16px;
            font-weight: 300;
        }
        strong {
            font-weight: 700;
        }
    }
    &__right {
        padding-left: 25px;
        width: 80%;
        border-left: 1px solid var(--soft-more-grey);
        p {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .about-us {
        &__right {
            width: 100%;
        }
    }
}

@media screen and (max-width: 991px) {
    .about-us {
        &__wrapper {
            grid-template-columns: 1fr;
            gap: 0;
            margin-bottom: 50px;
        }
        &__left {
            p {
                font-size: 14px;
            }
        }
        &__right {
            padding-left: 0;
            padding-top: 15px;
            border-left: none;
        }
    }
}