.brands {
    .products-filter {
        &__left {
            gap: 25px;
        }
        &__link {
            &::after {
                content: none;
            }
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px 100px;
        margin-top: 50px;
    }
    &-group {
        &__letter {
            font-size: 32px;
            font-weight: 700;
            color: var(--grey);
            padding-bottom: 15px;
            position: relative;
            border-bottom: 0.5px solid var(--soft-more-grey);
        }
        &__list {
            list-style: none;
            padding: 0;
            margin-top: 20px;
            li {
                margin-bottom: 10px;
            }
            a {
                text-decoration: none;
                font-size: 14px;
                font-weight: 500;
                color: var(--black);
                &:hover {
                    color: var(--dark-grey);
                }
            }
        }
    }
}

.brand-page {
    &__h1-row {
        display: flex;
        gap: 25px;
        align-items: center;
        margin-top: 30px;
        .h1 {
            margin-top: 0;
        }
        span {
            width: 1px;
            height: 45px;
            background: var(--soft-more-grey);
        }
    }
    &__brand-txt {
        font-size: 12px;
        font-weight: 400;
        width: 70%;
    }
}

@media screen and (max-width: 1280px) {
    .brands {
        &__grid {
            gap: 50px;
        }
    }
}

@media screen and (max-width: 991px) {
    .brands {
        &__grid {
            margin-top: 25px;
            gap: 25px;
        }
    }
    .brand-page {
        &__h1-row {
            flex-direction: column;
            margin-top: 10px;
            gap: 15px;
            .h1 {
                width: 100%;
            }
            span {
                width: 45px;
                height: 1px;
            }
        }
        &__brand-txt {
            width: 100%;
        }
    }
}

@media screen and (max-width: 767px) {
    .brands {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }
        &-group {
            &__letter {
                font-size: 28px;
                padding-bottom: 10px;
            }
            &__list {
                margin-top: 15px;
                li {
                    margin-bottom: 5px;
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .brands {
        &__grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}