.catalog {
    &__items {
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .product-item {
            width: calc(25% - 15px);
            margin-bottom: 10px;
        }
    }
}