.catalog {
    &__items {
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .product-item {
            width: calc(25% - 15px);
            margin-bottom: 10px;
        }
    }
}

.product-item {
    font-size: 12px;
    &__images-slider {
        img {
            width: 100%;
            height: 450px;
            object-fit: cover;
            object-position: center top;
        }
    }
    .swiper-button-prev, .swiper-button-next {
        background-color: transparent;
        border: none;
        top: 50%;
        &::after {
            display: none;
        }
    }
    &__title {
        font-weight: 500;
    }
    .price {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 10px;
        .sale {
            color: var(--red);
        }
        .old {
            text-decoration: line-through;
            color: #7c7c7c;
        }
    }
    &__variants {
        display: flex;
        margin-top: 10px;
        gap: 8px;
        align-items: center;
        li {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        li.active {
            padding: 2px;
            border: 1px solid var(--black);
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    &__image {
        position: relative;
    }
    &__info {
        margin-top: 5px;
    }
    &__bar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 0 20px;
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        &:has(> :nth-child(2):last-child) {
            justify-content: space-between;
        }
        .labels {
            display: flex;
            gap: 10px;
            align-items: center;
        }
        .favorite {
            display: flex;
            .favorite-f {
                display: none;
            }
            &.added {
                .favorite-f {
                    display: block;
                }
                .favorite-o {
                    display: none;
                }
            }
        }
    }
    
}


@media screen and (max-width: 1280px) {
    .product-item {
        &__images-slider img {
            height: 340px;
        }
        &__bar {
            height: 40px;
            padding: 10px;
        }
    }
    .catalog__items {
        gap: 10px;
        .product-item {
            width: calc(25% - 7.5px);
        }
    }
}

@media screen and (max-width: 991px) {
    .catalog__items {
        .product-item {
            width: calc(33.33% - 6.7px);
        }
    }
}

@media screen and (max-width: 767px) {
    .product-item__images-slider img {
        height: 320px;
    }
}

@media screen and (max-width: 640px) {
    .catalog__items {
        .product-item {
            width: calc(50% - 6.7px);
        }
    }
}

@media screen and (max-width: 480px) {
    .product-item {
        font-size: 11px;
        &__images-slider img {
            height: 260px;
        }
        &__bar {
            .label {
                line-height: 1;
                font-size: 8px;
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .product-item {
        font-size: 9px;
        &__images-slider img {
            height: 230px;
        }
    }
}