.contacts {
    &-layout {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        gap: 50px;
        margin-top: 25px;
    }
    &-info {
        &__title {
            margin-bottom: 50px;
        }
        &__phone,
        &__email {
            display: block;
            font-size: 32px;
            font-weight: 500;
            color: var(--dark-grey);
            text-decoration: none;
            transition: .3s;
            &:hover {
                color: #111;
            }
        }
        &__phone {
            margin-bottom: 5px;
        }
        &__email {
            margin-bottom: 0;
        }
    }
    &-form {
        &__title {
            margin-bottom: 10px;
        }
        &__subtitle {
            font-size: 14px;
            margin-bottom: 25px;
            color: var(--dark-grey);
        }
        .form-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px 25px;
            margin-bottom: 25px;
        }
        .form-group {
            display: flex;
            flex-direction: column;
            label {
                font-size: 12px;
                margin-bottom: 10px;
                span {
                    color: var(--dark-grey);
                }
            }
            input,
            select,
            textarea {
                background: var(--super-soft-grey);
                height: 48px;
                padding: 0 15px;
                font-size: 12px;
                font-weight: 300;
                transition: .3s;
                border: none;
                option {
                    font-weight: 300;
                }
                &:focus {
                    border-color: #111;
                    background: var(--soft-grey);
                    outline: none;
                }
            }
            textarea {
                height: 140px;
                padding: 15px;
                resize: none;
            }
            &--full {
                grid-column: span 2;
                margin-bottom: 30px;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .contacts {
        &-info {
            &__email, &__phone {
                font-size: 28px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .contacts {
        &-layout {
            grid-template-columns: 1fr;
        }
        &-info__title {
            margin-bottom: 25px;
        }
    }
    
    .form-group--full {
        grid-column: span 1;
    }
}

@media screen and (max-width: 767px) {
    .contacts {
        &-form .form-grid {
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: 480px) {
    .contacts {
        &-info {
            &__email, &__phone {
                font-size: 24px;
            }
        }
    }
}

.policies {
    &-txt {
        margin-top: 25px;
        font-weight: 300;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .policies {
        .h1 {
            font-size: 24px;
        }
    }
}