.faq {
    &-wrapper {
        margin-top: 25px;
    }
    &-item {
        border-top: 1px solid var(--soft-more-grey);
        &:last-child {
            border-bottom: 1px solid var(--soft-more-grey);
        }
        &:first-child {
            border: none;
        }
        &:hover {
            .faq-head {
                color: var(--darkest-grey);
            }
        }
        &.is-open {
            .faq-body {
                max-height: 1000px;
                padding-bottom: 30px;
            }
            .faq-head {
                padding: 15px 0 25px; 
                color: var(--dark-grey);
            }
        }
    }
    &-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        cursor: pointer;
        h3 {
            font-size: 18px;
            font-weight: 700;
        }
    }
    &-icon {
        width: 14px;
        height: 14px;
        position: relative;
        &:before,
        &:after {
            content: "";
            position: absolute;
            background: var(--black);
            transition: .3s;
        }
        &:before {
            width: 100%;
            height: 1px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        &:after {
            height: 100%;
            width: 1px;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
        }
        &-item.is-open .faq-icon:after {
        opacity: 0;
    }
    &-body {
        overflow: hidden;
        transition: .3s ease;
        max-height: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    &-block {
        width: calc(50% - 10px);
        h4 {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
            font-weight: 300;
        }
    }
}

@media (max-width: 991px) {
    .faq-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}