.footer {
    margin-top: 50px;
    font-size: 12px;
    background-color: #FAF8F8;
    padding: 50px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        > * {
            width: 295px;
        }
    }
    &__text {
        font-size: 13px;
        font-weight: 200;
        margin-top: 15px;
    }
    &__col {
        font-size: 13px;
        ul {
            display: flex;
            flex-direction: column;
            gap: 8px;
            font-weight: 300;
        }
    }
    &__col-title {
        color: var(--darkest-grey);
        margin-bottom: 15px;
        font-weight: 500;
    }
    &__tel {
        font-size: 24px;
    }
    &__socials {
        display: flex;
        gap: 10px;
        margin-top: 15px;
        a {
            width: 45px;
            height: 45px;
            border: .5px solid var(--black);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background: var(--black);
                svg path {
                    fill: #faf8f8;
                }
            }
        }
    }
    &__bottom {
        margin-top: 50px;
        display: flex;
        gap: 25px;
        font-size: 11px;
        ul {
            display: flex;
            gap: 10px;
            li {
                &:not(:first-child) {
                    padding-left: 14px;
                    position: relative;
                    &::before {
                        content: '/';
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }
        a {
            text-decoration: underline;
        }
    }
    &__copyright {
        color: var(--grey);
    }
}

@media screen and (max-width: 1280px) {
    .footer__wrapper {
        gap: 20px;
    }
    .footer__text .custom-br {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .footer {
        &__wrapper {
            flex-wrap: wrap;
            row-gap: 50px;
        }
        &__logo {
            order: 1;
        }
        &__contacts {
            order: 3;
        }
        &__col {
            &:nth-child(2) {
                order: 2;
            }
            &:nth-child(3) {
                order: 4;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .footer__bottom {
        flex-direction: column;
    }
    .footer__wrapper {
        gap: 0;
        row-gap: 50px;
    }
}

@media screen and (max-width: 640px) {
    .footer {
        &__contacts {
            order: 4;
        }
        &__col {
            &:nth-child(2) {
                order: 2;
            }
            &:nth-child(3) {
                order: 3;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .footer__bottom ul {
        flex-direction: column;
    }
    .footer__bottom ul li:not(:first-child) {
        padding-left: 0;
        &::before {
            content: none;
        }
    }
    .footer__copyright {
        order: 2;
    }
}