.footer-banner {
    &__wrapper {
        display: flex;
    }
    &__part {
        width: 50%;
        padding: 100px 70px;
        position: relative;
        height: 680px;
        display: flex;
        align-items: flex-end;
        &:before {
            content: '';
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 54.25%, rgba(0, 0, 0, 0.5) 82.44%);
            width: 100%;
            display: flex;
            height: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
        }
    }
    &__info {
        position: relative;
        z-index: 2;
        color: #fff;
        a {
            display: inline-block;
            margin-top: 25px;
        }
    }
    .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
    }
}