.grid-banner {
    margin-top: 50px;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    &__top {
        width: 100%;
        height: 540px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 100px;
        &::before {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 19.63%, rgba(0, 0, 0, 0.5) 69.15%);
            content: '';
            width: 100%;
            display: flex;
            height: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
        }
        &-info {
            background-color: var(--red);
            color: #fff;
            position: relative;
            z-index: 2;
            padding: 25px 100px;
            text-align: center;
            a {
                display: inline-block;
                margin-top: 25px;
            }
        }

    }
    &__bottom {
        display: flex;
        width: 100%;
        &-left, &-right {
            width: 50%;
            padding: 100px 70px;
            position: relative;
            height: 620px;
            display: flex;
            align-items: flex-end;
            &:before {
                content: '';
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 54.25%, rgba(0, 0, 0, 0.5) 82.44%);
                width: 100%;
                display: flex;
                height: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 1;
            }
        }
        &-info {
            color: #fff;
            position: relative;
            z-index: 3;
            .h3 {
                margin-top: 5px;
            }
            a {
                display: inline-block;
                margin-top: 25px;
            }
        }
    }
    .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
    }
}