.hero {
    &__wrapper {
        position: relative;
        max-height: 600px;
        height: 600px;
        overflow: hidden;
        padding: 100px 150px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        &:before {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 54.25%, rgba(0, 0, 0, 0.5) 82.44%);
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            z-index: 1;
        }
    }
    img {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__info {
        position: relative;
        z-index: 3;
        color: #fff;
        .h2 {
            margin-bottom: 30px;
            margin-top: 5px;
            text-align: left;
        }
    }

}

@media screen and (max-width: 1280px) {
    .hero {
        &__wrapper {
            padding: 100px 100px;
        }
    }
}

@media screen and (max-width: 991px) {
    .hero {
        &__wrapper {
            height: 400px;
            padding: 70px 70px;
        }
    }
}

@media screen and (max-width: 767px) {
    .hero {
        &__wrapper {
            padding: 50px 50px;
        }
        &__sub {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 480px) {
    .hero {
        &__wrapper {
            padding: 25px;
        }
        &__info {
            .h2 {
                margin-bottom: 25px;
            }
        }
    }
}