.maps {
    &-contacts {
        display: flex;
        gap: 50px;
        align-items: center;
        margin-top: 25px;
        height: 500px;
        #yandex-map {
            width: 60%; height: 100%;
        }
    }
    &-contact-item {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        transition: .3s;
        padding: 15px;
        &:not(.is-active) {
            opacity: .4;
        }
        &:hover {
            opacity: .7;
        }
        &.is-active {
            opacity: 1;
            border-left: 3px solid var(--grey);
        }
        &__title {
            font-size: 18px;
            font-weight: 700;
        }
        &__text {
            font-size: 14px;
            margin-top: 5px;
        }
        &__schedule {
            font-size: 14px;
            margin-top: 15px;
            display: flex;
            gap: 5px;
            span, p {
                font-weight: 300;
            }
            span:last-child {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }
        &__phone {
            font-size: 14px;
            font-weight: 300;
            margin-top: 15px;
            a {
                text-decoration: underline;
                &:hover {
                    color: var(--darkest-grey);
                }
            }
        }
    }
    &-contacts__info {
        display: flex;
        flex-direction: column;
        width: 40%;
        gap: 50px;
        padding-right: 50px;
        border-right: 0.5px solid var(--soft-more-grey);
    }
    &-contacts__map {
        width: 100%;
        height: 500px;
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    }
}

@media screen and (max-width: 1280px) {
    .maps-contacts {
        gap: 25px;
        &__info {
            padding-right: 25px;
        }
    }
}

@media screen and (max-width: 991px) {
    .maps-contacts {
        flex-direction: column;
        height: auto;
        &__info {
            width: 100%;
            padding-right: 0;
            border-right: none;
            gap: 25px;
        }
        #yandex-map {
            height: 400px;
            width: 100%;
        }
    }
}