.new-products, .collection {
    margin-top: 50px;
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-right {
            display: flex;
            gap: 50px;
            align-items: center;
        }

    }
    &__controls {
        display: flex;
        gap: 20px;
        .swiper-button-prev, .swiper-button-next {
            position: static;
            padding: 0;
            width: 35px;
            height: 35px;
            background-color: transparent;
            border: none;
            margin-top: 0;
            &::after {
                display: none;
            }
            &:hover {
                opacity: .75;
            }
        }
    }
    &-products__slider, &__slider {
        margin-top: 25px;
    }
}
@media screen and (max-width: 640px) {
    .new-products, .collection {
        &__controls {
            display: none;
        }
    }
    .collection__heading, .new-products__heading {
        .h2 {
            width: 50%;
        }
    }
}

@media screen and (max-width: 480px) {
    .collection__heading, .new-products__heading {
        gap: 20px;
    }
}

@media screen and (max-width: 370px) {
    .collection__heading .h2, .new-products__heading .h2 {
        width: 40%;
    }
}