.promo {
    margin-top: 50px;
    &__wrapper {
        display: flex;
    }
    &__heading {
        width: 25%;
        padding-right: 20px;
    }
    &__slider {
        width: calc(100% - 25%);
    }
    .promo__wrapper {
        display: flex;
    }
    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .button--black {
            margin-top: 50px;
        }
    }
    &__controls {
        display: flex;
        gap: 20px;
        .swiper-button-prev, .swiper-button-next {
            position: static;
            padding: 0;
            width: 35px;
            height: 35px;
            background-color: transparent;
            border: none;
            margin-top: 0;
            &::after {
                display: none;
            }
            &:hover {
                opacity: .75;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .promo {
        &__heading {
            width: 25%;
        }
        &__slider {
            width: 75%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .promo {
        &__heading {
            width: 31.5%;
            padding-right: 10px;
        }
        &__slider {
            width: 68.5%;
        }
    }
}

@media screen and (max-width: 767px) {
    .promo {
        &__wrapper {
            display: flex;
            flex-direction: column;
        }
        &__heading {
            width: 100%;
            flex-direction: row;
            align-items: center;
            &-top {
                display: flex;
                align-items: center;
                gap: 25px;
            }
            .button--black {
                margin-top: 0;
            }
        }
        &__slider {
            width: 100%;
            margin-top: 25px;
        }
        &__heading-top {
            .button--black.medium {
                height: 35px;
                width: fit-content;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .promo {
        &__controls {
            display: none;
        }
        &__heading {
            padding-right: 0;
        }
        &__heading-top {
            width: 100%;
            justify-content: space-between;
        }
    }
}
