.product-item {
    font-size: 12px;
    &__images-slider {
        img {
            width: 100%;
            height: 420px;
        }
    }
    .swiper-button-prev, .swiper-button-next {
        background-color: transparent;
        border: none;
        top: 40%;
        &::after {
            display: none;
        }
    }
    &__title {
        font-weight: 700;
    }
    .price {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 10px;
        .current {
            font-size: 14px;

        }
        .old {
            text-decoration: line-through;
            color: #7c7c7c;
        }
    }
    &__variants {
        display: flex;
        margin-top: 10px;
        gap: 8px;
        align-items: center;
        li {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: flex;
            align-items: center;

        }
        li.active {
            width: 14px;
            height: 14px;
            padding: 2px;
            border: 1px solid var(--black);
        }
    }
}