.size-guide {
    .size-how {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        align-items: center;
        gap: 50px;
        margin-top: 25px;
        &__content {
            display: flex;
            flex-direction: column;
            gap: 25px;
            width: 90%;
        }
        &__intro {
            font-weight: 300;
        }
        img {
            width: 100%;
        }
    }
    .size-accordion {
        &__item {
            border-bottom: 1px solid var(--soft-more-grey);
            &.is-open {
                .size-accordion__head {
                    color: var(--dark-grey);
                }
                .size-accordion__body {
                    height: auto;
                    transform: scaleY(1);
                    padding-bottom: 15px;
                }
                .size-accordion__head:after {
                    content: "–";
                }
            }
            &:hover {
                .size-accordion__head {
                    color: var(--darkest-grey);
                }
            }
        }
        &__head {
            padding: 15px 0;
            cursor: pointer;
            font-weight: 500;
            position: relative;
            &:after {
                content: "+";
                position: absolute;
                right: 0;
                font-weight: 300;
            }
        }
        &__body {
            transform-origin: top;
            transform: scaleY(0);
            overflow: hidden;
            transition: .3s;
            font-size: 14px;
            font-weight: 300;
            padding-bottom: 0;
            height: 0;
        }
    }
    .size-section {
        margin-top: 50px;
        display: grid;
        align-items: center;
        grid-template-columns: .5fr 1fr;
        gap: 50px;
        &__title {
            margin-bottom: 10px;
        }
        .size-table {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
            width: 90%;
            &__col {
                &:nth-child(odd) {
                    background: var(--super-soft-grey);
                }
                h4 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 500;
                    font-size: 12px;
                    height: 33px;
                }
                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 500;
                    font-size: 12px;
                    height: 33px;
                }
            }
        }
    }
    
}

@media screen and (max-width: 1280px) {
    .size-guide {
        .size-how {
            gap: 25px;
            &__content {
                width: 100%;
            }
        }
        .size-section {
            gap: 25px;
            .size-table {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .size-guide {
        .size-how {
            grid-template-columns: 1fr;
            &__image {
                width: 40%;
            }
        }
        .size-section {
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: 767px) {
    .size-guide {
        .size-section {
            &__txt {
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .size-guide {
        .size-section {
            gap: 15px;
            .size-table__col {
                p, h4 {
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .size-guide {
        .size-section {
            .size-table__col {
                p, h4 {
                    font-size: 9px;
                }
            }
        }
    }
}