.breadcrumbs {
    color: var(--dark-grey);
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid var(--soft-more-grey);
    &__link {
        text-decoration: underline;
        &:hover {
            color: var(--black);
        }
    }
}

.products-filter {
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-bottom: 0.5px solid var(--soft-more-grey);
    &__left {
        display: flex;
        align-items: center;
        gap: 35px;
    }
    &__link {
        position: relative;
        &.mobile {
            display: none;
        }
        &::after {
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            background-image: url('/assets/img/filter-arrow-icon.svg');
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            right: -15px;
            top: 2px;
            transition: all .2s ease-in-out;
        }
        &:hover {
            color: var(--dark-grey);
            &::after {
                opacity: .6;
            }
        }
    }
}

.pagination {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    &__more {
        color: var(--black);
        text-decoration: underline;
        font-weight: 500;
        font-size: 16px;
        font-weight: 500;
        &:hover {
            color: var(--dark-grey);
        }
    }
    &__quantity {
        font-size: 14px;
        color: var(--dark-grey);
    }
}

.features {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 25px 100px;
        text-align: center;
        width: calc(33.33% - 10px);
        background: var(--super-soft-grey);
        &:nth-child(2) {
            background: var(--soft-grey);
        }
    }
    &__icon {
        img {
            width: 35px;
        }
    }
    &__title {
        font-size: 12px;
        font-weight: 500;
    }
    &__txt {
        font-size: 12px;
        font-weight: 300;
    }
}

.extra-items {
    margin-top: 80px;
    .h2 {
        text-align: center;
    }
}

@media screen and (max-width: 1280px) {
    .features {
        gap: 10px;
        &__item {
            padding: 25px 50px;
        }
    }
}

@media screen and (max-width: 991px) {
    .features {
        margin-top: 25px;
    }
    .features__item {
        padding: 15px 25px;
        gap: 10px;
    }
    .features__icon {
        width: 28px;
    }
    .products-filter {
        &__link {
            display: none;
            &.mobile {
                display: block;
            }
            &::after {
                top: 1px;
            }
        }
        &.brands-filter {
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: nowrap;
            -webkit-overflow-scrolling: touch;
            scroll-behavior: smooth;
            
            .products-filter__link {
                display: block;
                white-space: nowrap;
                flex: 0 0 auto;
            }
        }
    }
    .pagination {
        margin-top: 25px;
        gap: 10px;
    }
}

@media screen and (max-width: 767px) {
    .features {
        flex-wrap: wrap;
        &__item {
            width: calc(50% - 5px);
            &:last-child {
                width: 100%;
                background: var(--soft-grey);
            }
            &:nth-child(2) {
                background: var(--super-soft-grey);
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .features {
        &__item {
            padding: 15px;
        }
        &__title {
            font-size: 11px;
        }
        &__txt {
            font-size: 11px;
        }
    }
    .pagination {
        gap: 5px;
        &__more {
            font-size: 14px;
        }
        &__quantity {
            font-size: 12px;
        }
    }
}