@use 'header';
@use 'hero';
@use 'new-products-slider';
@use 'product-item';
@use 'grid-banner';
@use 'promo';
@use 'footer-banner';
@use 'footer';
@use 'ui-elements';
@use 'catalog';
@use 'product-page';
@use 'cart';
@use 'brands';
@use 'blog';
@use 'article-page';
@use 'gift-card';
@use 'maps';
@use 'size-guide';
@use 'about-us';
@use 'faq';
@use 'contacts';