@font-face {
    font-family: 'Stolzl';
    src: url('Stolzl-Light.eot');
    src: local('Stolzl Light'), local('Stolzl-Light'),
        url('Stolzl-Light.eot?#iefix') format('embedded-opentype'),
        url('Stolzl-Light.woff2') format('woff2'),
        url('Stolzl-Light.woff') format('woff'),
        url('Stolzl-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('Stolzl-Thin.eot');
    src: local('Stolzl Thin'), local('Stolzl-Thin'),
        url('Stolzl-Thin.eot?#iefix') format('embedded-opentype'),
        url('Stolzl-Thin.woff2') format('woff2'),
        url('Stolzl-Thin.woff') format('woff'),
        url('Stolzl-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('Stolzl-Book.eot');
    src: local('Stolzl Book'), local('Stolzl-Book'),
        url('Stolzl-Book.eot?#iefix') format('embedded-opentype'),
        url('Stolzl-Book.woff2') format('woff2'),
        url('Stolzl-Book.woff') format('woff'),
        url('Stolzl-Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('Stolzl-Regular.eot');
    src: local('Stolzl Regular'), local('Stolzl-Regular'),
        url('Stolzl-Regular.eot?#iefix') format('embedded-opentype'),
        url('Stolzl-Regular.woff2') format('woff2'),
        url('Stolzl-Regular.woff') format('woff'),
        url('Stolzl-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('Stolzl-Bold.eot');
    src: local('Stolzl Bold'), local('Stolzl-Bold'),
        url('Stolzl-Bold.eot?#iefix') format('embedded-opentype'),
        url('Stolzl-Bold.woff2') format('woff2'),
        url('Stolzl-Bold.woff') format('woff'),
        url('Stolzl-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('Stolzl-Medium.eot');
    src: local('Stolzl Medium'), local('Stolzl-Medium'),
        url('Stolzl-Medium.eot?#iefix') format('embedded-opentype'),
        url('Stolzl-Medium.woff2') format('woff2'),
        url('Stolzl-Medium.woff') format('woff'),
        url('Stolzl-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}



// @font-face {
//     font-family: 'Cygre';
//     src: url('Cygre-Light.eot');
//     src: local('Cygre Light'), local('Cygre-Light'),
//         url('Cygre-Light.eot?#iefix') format('embedded-opentype'),
//         url('Cygre-Light.woff2') format('woff2'),
//         url('Cygre-Light.woff') format('woff'),
//         url('Cygre-Light.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Cygre';
//     src: url('Cygre-Thin.eot');
//     src: local('Cygre Thin'), local('Cygre-Thin'),
//         url('Cygre-Thin.eot?#iefix') format('embedded-opentype'),
//         url('Cygre-Thin.woff2') format('woff2'),
//         url('Cygre-Thin.woff') format('woff'),
//         url('Cygre-Thin.ttf') format('truetype');
//     font-weight: 100;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Cygre';
//     src: url('Cygre-Book.eot');
//     src: local('Cygre Book'), local('Cygre-Book'),
//         url('Cygre-Book.eot?#iefix') format('embedded-opentype'),
//         url('Cygre-Book.woff2') format('woff2'),
//         url('Cygre-Book.woff') format('woff'),
//         url('Cygre-Book.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Cygre';
//     src: url('Cygre-Regular.eot');
//     src: local('Cygre Regular'), local('Cygre-Regular'),
//         url('Cygre-Regular.eot?#iefix') format('embedded-opentype'),
//         url('Cygre-Regular.woff2') format('woff2'),
//         url('Cygre-Regular.woff') format('woff'),
//         url('Cygre-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Cygre';
//     src: url('Cygre-Bold.eot');
//     src: local('Cygre Bold'), local('Cygre-Bold'),
//         url('Cygre-Bold.eot?#iefix') format('embedded-opentype'),
//         url('Cygre-Bold.woff2') format('woff2'),
//         url('Cygre-Bold.woff') format('woff'),
//         url('Cygre-Bold.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Cygre';
//     src: url('Cygre-Medium.eot');
//     src: local('Cygre Medium'), local('Cygre-Medium'),
//         url('Cygre-Medium.eot?#iefix') format('embedded-opentype'),
//         url('Cygre-Medium.woff2') format('woff2'),
//         url('Cygre-Medium.woff') format('woff'),
//         url('Cygre-Medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
// }

