<section class="collection">
    <div class="container">
        <div сlass="collection__wrapper">
            <div class="collection__heading">
                <h2 class="h2">Коллекция Essentiel</h2>
                <div class="collection__heading-right">
                    <a href="" class="button--grey">Смотреть все</a>
                    <div class="collection__controls">
                        <button class="prev-btn swiper-button-prev">
                            <img src="/assets/img/arrow-left.svg" alt="prev" loading="lazy">
                        </button>
                        <button class="next-btn swiper-button-next">
                            <img src="/assets/img/arrow-right.svg" alt="next" loading="lazy">
                        </button>
                    </div>
                </div>
            </div>
            <swiper-container class="collection-products__slider" init="false">
                <swiper-slide>
                    @@include('components/item.html')
                </swiper-slide>
                <swiper-slide>
                    @@include('components/item.html')
                </swiper-slide>
                <swiper-slide>
                    @@include('components/item.html')
                </swiper-slide>
                <swiper-slide>
                    @@include('components/item.html')
                </swiper-slide>
                <swiper-slide>
                    @@include('components/item.html')
                </swiper-slide>
                <swiper-slide>
                    @@include('components/item.html')
                </swiper-slide>
                <swiper-slide>
                    @@include('components/item.html')
                </swiper-slide>
                <swiper-slide>
                    @@include('components/item.html')
                </swiper-slide>
            </swiper-container>
        </div>
    </div>
</section>