<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__logo">
                <a href="/" class="footer__logo">
                    <img src="/assets/img/logo.svg" alt="unico">
                </a>
                <p class="footer__text">Мультибрендовый магазин женской <span class="custom-br"></span> одежды и аксессуаров из Италии</p>
            </div>
            <div class="footer__col">
                <div class="footer__col-title">Навигация</div>
                <ul>
                    <li><a href="" class="link--hover-red">Главная</a></li>
                    <li><a href="" class="link--hover-red">Новинки</a></li>
                    <li><a href="" class="link--hover-red">Новинки</a></li>
                    <li><a href="" class="link--hover-red">Новинки</a></li>
                    <li><a href="" class="link--hover-red">Новинки</a></li>
                    <li><a href="" class="link--hover-red">Новинки</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <div class="footer__col-title">Навигация</div>
                <ul>
                    <li><a href="" class="link--hover-red">Главная</a></li>
                    <li><a href="" class="link--hover-red">Новинки</a></li>
                    <li><a href="" class="link--hover-red">Новинки</a></li>
                    <li><a href="" class="link--hover-red">Новинки</a></li>
                    <li><a href="" class="link--hover-red">Новинки</a></li>
                    <li><a href="" class="link--hover-red">Новинки</a></li>
                </ul>
            </div>
            <div class="footer__contacts">
                <div class="footer__col-title">Контакты</div>
                <a href="tel:+79218898529" class="footer__tel link--hover-red">+7 921 889 8529</a>
                <div class="footer__socials">
                    <a href=""><img src="/assets/img/telegram.svg" alt="" loading="lazy"></a>
                    <a href=""><img src="/assets/img/vk.svg" alt="" loading="lazy"></a>
                    <a href=""><img src="/assets/img/youtube.svg" alt="" loading="lazy"></a>
                    <a href=""><img src="/assets/img/zen.svg" alt="" loading="lazy"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer__bottom">
            <div class="footer__copyright">Unico Moda 1994-2025. Все права защищены</div>
            <ul>
                <li><a href="" class="link--hover-red">Политика конфиденциальности</a></li>
                <li><a href="" class="link--hover-red">Политика возвратов</a></li>
                <li><a href="" class="link--hover-red">Доставка</a></li>
            </ul>
        </div>
    </div>
</footer>