<header class="header">
    <div class="header__pre">
        <div class="container">
            <div class="header__pre-content">Бесплатная доставка по Санкт-Петербургу и России при покупке на сумму от 20 000 ₽</div>
        </div>
    </div>
    <div class="header__main">
        <div class="container">
            <div class="header__main-wrapper">
                <div class="header__left">
                    <nav>
                        <ul class="header__menu">
                            <li><a href="" class="link--hover-red">Новинки</a></li>
                            <li class="header__menu-item header__menu-item--catalog">
                                <a href="" class="link--hover-red">Каталог</a>
                                <div class="mega-menu">
                                    <div class="mega-menu__overlay" aria-hidden="true"></div>
                                    <div class="container">
                                        <div class="mega-menu__content">
                                            <div class="mega-menu__column">
                                                <div class="mega-menu__title">Одежда</div>
                                                <ul class="mega-menu__list">
                                                    <li><a href="">Пальто и плащи</a></li>
                                                    <li><a href="">Куртки</a></li>
                                                    <li><a href="">Свитеры</a></li>
                                                    <li><a href="">Джемперы и кардиганы</a></li>
                                                    <li><a href="">Футболки</a></li>
                                                    <li><a href="">Платья</a></li>
                                                    <li><a href="">Брюки</a></li>
                                                    <li><a href="">Юбки</a></li>
                                                </ul>
                                            </div>
                                            <div class="mega-menu__column">
                                                <div class="mega-menu__title">Аксессуары</div>
                                                <ul class="mega-menu__list">
                                                    <li><a href="">Шарфы</a></li>
                                                    <li><a href="">Шапки</a></li>
                                                    <li><a href="">Перчатки</a></li>
                                                    <li><a href="">Носки</a></li>
                                                </ul>
                                            </div>
                                            <div class="mega-menu__promo">
                                                <div class="mega-menu__promo-image" role="img" aria-label="8PM Collection">
                                                    <img src="/assets/img/collection.jpg" alt="" loading="lazy">
                                                </div>
                                                <div class="mega-menu__promo-badge">Новое поступление</div>
                                                <div class="mega-menu__promo-title">8PM Collection</div>
                                                <a href="" class="mega-menu__promo-link">Подробнее →</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="" class="link--hover-red">Бренды</a></li>
                            <li><a href="" class="link--hover-red">Скидки</a></li>
                            <li><a href="" class="link--hover-red">Подбор</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header__middle">
                    <a href="/" class="header__logo">
                        <img src="/assets/img/logo.svg" alt="unico">
                    </a>
                </div>
                <div class="header__right">
                    <div class="header__note">
                        Женская одежда. Онлайн-бутик <span class="custom-br"></span> итальянских брендов. СПб
                    </div>
                    <div class="header__actions">
                        <a href=""><img src="/assets/img/search.svg" alt="search"></a>
                        <a href=""><img src="/assets/img/user.svg" alt="user"></a>
                        <a href=""><img src="/assets/img/heart.svg" alt="like"></a>
                        <a href=""><img src="/assets/img/bag.svg" alt="cart"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>