<header class="header">
    <div class="header__pre">
        <div class="container">
            <div class="header__pre-content">Бесплатная доставка по Санкт-Петербургу и России при покупке на сумму от 20 000 ₽</div>
        </div>
    </div>
    <div class="header__main">
        <div class="container">
            <div class="header__main-wrapper">
                <div class="header__left">
                    <nav>
                        <ul class="header__menu">
                            <li><a href="" class="link--hover-red">Новинки</a></li>
                            <li><a href="" class="link--hover-red">Каталог</a></li>
                            <li><a href="" class="link--hover-red">Бренды</a></li>
                            <li><a href="" class="link--hover-red">Скидки</a></li>
                            <li><a href="" class="link--hover-red">Подбор</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header__middle">
                    <a href="/" class="header__logo">
                        <img src="/assets/img/logo.svg" alt="unico">
                    </a>
                </div>
                <div class="header__right">
                    <div class="header__note">
                        Женская одежда. Онлайн-бутик <span class="custom-br"></span> итальянских брендов. СПб
                    </div>
                    <div class="header__actions">
                        <a href=""><img src="/assets/img/search.svg" alt="search"></a>
                        <a href=""><img src="/assets/img/user.svg" alt="user"></a>
                        <a href=""><img src="/assets/img/heart.svg" alt="like"></a>
                        <a href=""><img src="/assets/img/bag.svg" alt="cart"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>