* {
    box-sizing: border-box;
}
body {
    font-family: 'Cygre';
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: var(--light-black);
    line-height: 1.25;
}
.container {
    width: 100%;
    max-width: 1560px;
    padding-left: 72px;
    padding-right: 72px;
    margin: 0 auto;
    &.container-sm {
        max-width: 1200px;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
a.link--hover-red {
    transition: all .2s ease-in-out;
    &:hover {
        color: var(--red);
    }
}

img, svg, video  {
    max-width: 100%;
    max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
    span.gray {
        color: var(--grey);
    }
}

h1, .h1 {
    font-size: 32px;
    line-height: normal;
    font-weight: 600;
}

h2, .h2 {
    font-size: 24px;
    line-height: normal;
    font-weight: 600;
}

h3, .h3 {
    font-size: 22px;
    line-height: normal;
    font-weight: 600;
}

h4, .h4 {
    font-size: 3.5em;
    line-height: normal;
}

h5, .h5 {
    font-size: 3em;
    line-height: normal;
}

.h2-block-wrap {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    .paragraph {
        font-weight: 500;
    }
}

.custom-br {
    display: block;
}

.row {
    display: flex;
    gap: var(--gap);
    &.gap-1 {
        --gap: 1rem;
    }
    &.gap-2 {
        --gap: 2rem;
    }
    .w-full {
        width: 100%;
    }
    .w-1_3 {
        width: calc(33.33% - ((var(--gap) * 2) / 3));
    }
}
.button--link {
    text-decoration: underline;
    font-weight: 700;
    // display: inline-flex;
    position: relative;
    // &::after {
    //     content: '';
    //     width: 100%;
    //     height: 1px;
    //     position: absolute;
    //     background-color: #fff;
    // }
    &.white {
        color: #fff;
    }
    .icon {
        transition: transform .2s ease-in-out;
        transform: translateX(0px);
        font-style: normal;
        display: inline-block;
    }
    &:hover {
        .icon {
            transform: translateX(4px);
        }
    }
}

.subtitle {
    font-weight: 400;
}

@media screen and (max-width: 1350px) {
    .container {
        padding-left: 60px;
        padding-right: 60px;
    }
    h1, .h1 {
        font-size: 6em;
    }
    
    h2, .h2 {
        font-size: 4em;
    }
    
    h3, .h3 {
        font-size: 3.5em;
    }
    
    h4, .h4 {
        font-size: 3em;
    }
    
    h5, .h5 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 1250px) {
    body {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
    .container {
        padding-left: 48px;
        padding-right: 48px;
    }

    h1, .h1 {
        font-size: 5.5em;
    }
    
    h2, .h2 {
        font-size: 3.5em;
        &.imaged {
            img {
                width: 110px;
            }
            .row {
                margin-top: 12px;
            }
        }
    }
    
    h3, .h3 {
        font-size: 3em;
    }
    
    h4, .h4 {
        font-size: 2.5em;
    }
    
    h5, .h5 {
        font-size: 2em;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding-left: 36px;
        padding-right: 36px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
}