* {
    box-sizing: border-box;
}
body {
    font-family: 'Stolzl';
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: var(--black);
    line-height: 1.25;
}
button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Stolzl';
    transition: all .2s ease-in-out;
}
.container {
    width: 100%;
    max-width: 1560px;
    padding-left: 72px;
    padding-right: 72px;
    margin: 0 auto;
    &.container-sm {
        max-width: 1200px;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
svg, svg path {
    transition: all .2s ease-in-out;
}
a.link--hover-red {
    transition: all .2s ease-in-out;
    &:hover {
        color: var(--red);
    }
}
a.link--hover-grey {
    transition: all .2s ease-in-out;
    &:hover {
        color: var(--darkest-grey);
    }
}

img, svg, video  {
    max-width: 100%;
    max-height: 100%;
}

input, select, textarea {
    font-family: 'Stolzl';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
    span.gray {
        color: var(--grey);
    }
}

h1, .h1 {
    font-size: 32px;
    line-height: normal;
    font-weight: 700;
    margin-top: 25px;
    text-align: center;
}

h2, .h2 {
    font-size: 32px;
    line-height: normal;
    font-weight: 500;
}

h3, .h3 {
    font-size: 22px;
    line-height: normal;
    font-weight: 500;
}

h4, .h4 {
    font-size: 3.5em;
    line-height: normal;
}

h5, .h5 {
    font-size: 3em;
    line-height: normal;
}

.h2-block-wrap {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

p {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    .paragraph {
        font-weight: 500;
    }
}

input {
    border: none;
    &:focus-visible {
        outline: none;
    }
}

.custom-br {
    display: block;
}

.row {
    display: flex;
    gap: var(--gap);
    &.gap-1 {
        --gap: 1rem;
    }
    &.gap-2 {
        --gap: 2rem;
    }
    .w-full {
        width: 100%;
    }
    .w-1_3 {
        width: calc(33.33% - ((var(--gap) * 2) / 3));
    }
}
.custom-br {
    display: block;
}
.button--link {
    text-decoration: underline;
    font-weight: 500;
    // display: inline-flex;
    position: relative;
    // &::after {
    //     content: '';
    //     width: 100%;
    //     height: 1px;
    //     position: absolute;
    //     background-color: #fff;
    // }
    &.white {
        color: #fff;
    }
    .icon {
        transition: transform .2s ease-in-out;
        transform: translateX(0px);
        font-style: normal;
        display: inline;
    }
    &:hover {
        .icon {
            transform: translateX(4px);
        }
    }
}

.button--grey {
    height: 35px;
    padding: 0 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 35px;
    background-color: var(--soft-grey);
    font-size: 12px;
    line-height: 35px;
    &:hover {
        background: var(--grey);
    }
}

.button--black {
    height: 35px;
    padding: 0 20px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background-color: var(--black);
    color: #fff;
    font-size: 12px;
    line-height: 35px;
    &:hover {
        background: var(--grey);
        color: var(--black);
    }
    &.medium {
        width: 150px;
        height: 40px;
    }
    &.big {
        width: 180px;
        height: 40px;
    }
}

.subtitle {
    font-weight: 300;
}

.label {
    display: flex;
    width: fit-content;
    padding: 4px 7px;
    font-size: 10px;
    line-height: 1.25;
    color: #fff;
    &.label--green {
        background-color: var(--acid-green);
        color: var(--black);
        font-weight: 500;
    }
    &.label--white {
        background-color: #fff;
        color: var(--black);
        font-weight: 500;
    }
    &.label--black {
        background-color: var(--black);
        font-weight: 400;
    }
    &.label--red {
        background-color: var(--red);
        font-weight: 400;
    }
}
.sale-color {
    color: var(--red);
}

@media screen and (max-width: 1350px) {
    .container {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (max-width: 1250px) {
    body {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
    .container {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding-left: 36px;
        padding-right: 36px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
}